<div class="container">
    <div class="mt-3">
        <button (click)="addNode()" class="btn btn-primary">Node</button> &nbsp;
        <button (click)="addConnector()" class="btn btn-primary">Connector</button>
    </div>
    <br>

    <ejs-diagram id="diagram-container" #diagram id="diagram" width="1200px" height="500px" (propertyChange)="valueChange($event)">
    </ejs-diagram>

    <button (click)="showValues()" class="btn btn-primary">Show Values</button>

    <div *ngIf="isChanged">
        <h4>Object values</h4>
        <h5>Connectors</h5>
        <ul *ngFor="let x of DiagramData.connectors">
            <li>
                <h6>id: {{x.id}}</h6>
            </li>
            <!-- <li>
                <h6>name: {{x.name}}</h6>
            </li> -->
            <li>
                <h6>sourceId: {{x.sourceId}}</h6>
            </li>
            <li>
                <h6>outputPort: {{x.outputPort}}</h6>
            </li>
            <li>
                <h6>destinationId: {{x.destinationId}}</h6>
            </li>
            <li>
                <h6>inputPort: {{x.inputPort}}</h6>
            </li>
            <br>
        </ul>
        <h5>Nodes</h5>
        <ul *ngFor="let x of DiagramData.nodes">
            <li>
                <h6>id: {{x.id}}</h6>
            </li>
            <!-- <li>
                <h6>name: {{x.name}}</h6>      
            </li> -->
            <li>
                <h6>offsetX: {{x.offsetX}}</h6>
            </li>
            <li>
                <h6>offsetY: {{x.offsetY}}</h6>
            </li>
            <li>
                <h6>height: {{x.height}}</h6>
            </li>
            <li>
                <h6>width: {{x.width}}</h6>
            </li>
            <br>
        </ul>
    </div>
</div>